.impact {
    padding: 30px 60px 0;
    
    background-image: 
        url('../img/impact-bg-ice.png'),
        url('../img/bg.png');
    background-size: contain, cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        margin: 0;
        margin-bottom: 70px;
        
        font-size: 40px;
        color: #fff;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}